<%if(locals.noNurse != null){%>
    <%noNurse.forEach(data=>{%>
        <div class="container adsecappcard mt-4 mb-2">
            <div class="row">
                <div class="col">
                    <p class="adsecpatientname ">Dr.
                        <%=data.DLname%>
                    </p>
                </div>
                <div class="col" data-bs-toggle="modal" data-bs-target="#<%=data.doctor_ID%>">
                    <p class="adsecappdate center " type="button">
                        <img src="/assets/addicon.png" alt="" class="me-2" style="height: 28px;"> ADD PAIR
                    </p>
                </div>
                <div type="button" class="col">
                    <p class="adsecappdate center " ID="Delete">
                        <img src="/assets/removeicon.png" alt="" class="me-2" style="height: 26px;"> DELETE
                    </p>
                </div>
            </div>
        </div>
        <%})%>
            <!--Modal-->
            <%noNurse.forEach(data=>{%>
                <div class="modal modal-lg" tabindex="-1" id="<%=data.doctor_ID%>">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" style=" border: 1px solid #000000; border-radius: 10px;">
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row mb-3 mt-2" style="text-align: center;">
                                        <H5 style="font-weight: 600; font-size: 25px; color: #434343; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">PAIRING</h5>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col">
                                            <select class="form-select m-auto" aria-label="Default select example" id="whole1" name="doctorPair" disabled>
                                                    <option value="<%=data.doctor_ID%>" >Dr. <%=data.DLname%></option>
                                                </select>
                                        </div>
                                        <div class="col">
                                            <div class="center">
                                                <select class="form-select m-auto" aria-label="Default select example" id="whole1" name="nursePair">
                                                <%nurseList.forEach(res=>{%>
                                                    <option value="<%=res.doctor_Secretary_ID%>" ><%=res.doctor_Secretary_first_name%> <%=res.doctor_Secretary_last_name%></option>
                                                <%})%>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row center">
                                        <div id="match" style="text-align: center;" type="button" class="center">
                                            <p style="font-weight: 600; font-size: 22px;" class="m-auto">MATCH</p>
                                        </div>

                                    </div>

                                    <div style="text-align: center; display: none;" class="center" id="success">
                                        <div class="row mt-3 center" style="width: 741px; height: 25px; background: #2F9D44; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 10px;">
                                            <p style="font-weight: 600; font-size: 15px; color: #FFFFFF;" class="m-auto">Match Complete!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%})%>
                    <%}%>

                        <script>
                            $("#match").click(function() {
                                $.post("match", {
                                    credentials: 'same-origin',
                                    doctor_ID: $('select[name="doctorPair"]').val(),
                                    nurse_ID: $('select[name="nursePair"]').val(),
                                }, function(data) {
                                    console.log('hi')
                                    $('#success').css({
                                        'display': 'block'
                                    });
                                })
                            });
                        </script>