<%let pendingCounter = 0%>
    <%let confirmedCounter = 0%>
        <%let cancelledCounter = 0%>
            <%let completedCounter = 0%>
                <% if(locals.queriedAppointments != null){%>
                    <%queriedAppointments.forEach(data=>{%>
                        <%if(data.status=='PENDING'){pendingCounter++}%>
                            <%if(data.status=='CONFIRMED'){confirmedCounter++}%>
                                <%if(data.status=='COMPLETED'){completedCounter++}%>
                                    <%if(data.status=='CANCELLED'){cancelledCounter++}%>
                                        <%})%>
                                            <div class="flex-container">
                                                <section id="pending">
                                                    <div class="container row m-auto ">
                                                        <label class="tagtitle text-start mt-4 mb-2" style="font-size: 25px; color: #848484 ">
                                                    Pending
                                                    (<%=pendingCounter%>)
                                            
                                                        <!--counter-->
                                                        </label>
                                                    </div>

                                                    <%queriedAppointments.forEach(data=>{%>
                                                        <%if(data.status == 'Pending'){%>
                                                            <div class="inner-flex">
                                                                <div class=" card pt-2 pb-2 m-2">
                                                                    <div class="card-body container-fluid ps-5 pt-4 pe-5 pb-2">
                                                                        <div class="card-title" style="font-size:25px ;font-weight: 800;">
                                                                            <%=data.patient_first_name%>
                                                                                <%=data.patient_last_name%>
                                                                        </div>
                                                                        <p class="card-subtitle ">Gender:
                                                                            <%=data.gender%>
                                                                        </p>
                                                                        <p class="card-subtitle">Age:
                                                                            <%=data.patient_age%>
                                                                        </p>
                                                                        <label for="card-text">Email address: </label>
                                                                        <label for="card-text" style="font-weight: 600;"> <%=data.email%> </label>
                                                                        <div class="row pt-4">
                                                                            <div class="col pt-5">
                                                                                <p class="card-subtitle" style="font-weight: 600">
                                                                                    <%=data.doctor_Lname%>,
                                                                                        <%=data.doctor_Fname%>
                                                                                </p>
                                                                                <p class="card-subtitle pt-2">
                                                                                    <%=data.specialization%>
                                                                                </p>
                                                                            </div>
                                                                            <div class="col pt-5">
                                                                                <p class="card-subtitle" style="font-weight: 600">Appointment Date</p>
                                                                                <p class="card-subtitle pt-2" style="color: #388440; font-weight: bold;">
                                                                                    <%=data.date%> -
                                                                                        <%=data.start%>
                                                                                </p>
                                                                            </div>
                                                                            <div class="row pt-5 justify-content-center m-auto">
                                                                                <button type="button " class="btn btn-success btn me-3 " style="width: 120px; background-color: #FF0000; border-color: #FF0000; border-radius: 10px;">Cancel</button>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <%}})%>

                                                                <%}%>
                                                </section>

                                                <section id="confirmed">
                                                    <div class="container row m-auto ">
                                                        <label class="tagtitle text-start mt-4 mb-2" style="font-size: 25px; color: #1316e2 ">
                                                            Confirmed
                                                        (<%=confirmedCounter%>)
                                                        </label>
                                                    </div>

                                                    <% queriedAppointments.forEach(data=>{%>
                                                        <%if(data.status ==('Confirmed')){%>
                                                            <div class="inner-flex">
                                                                <div class=" card pt-2 pb-2 m-2">
                                                                    <div class="card-body container-fluid ps-5 pt-4 pe-5 pb-2">
                                                                        <div class="card-title" style="font-size:25px ;font-weight: 800;">
                                                                            <%=data.patient_first_name%>
                                                                                <%=data.patient_last_name%>
                                                                        </div>
                                                                        <p class="card-subtitle ">Gender:
                                                                            <%=data.gender%>
                                                                        </p>
                                                                        <p class="card-subtitle">Age:
                                                                            <%=data.patient_age%>
                                                                        </p>
                                                                        <label for="card-text">Email address: </label>
                                                                        <label for="card-text" style="font-weight: 600;"> <%=data.email%> </label>
                                                                        <div class="row pt-4">
                                                                            <div class="col pt-5">
                                                                                <p class="card-subtitle" style="font-weight: 600">
                                                                                    <%=data.doctor_Lname%>,
                                                                                        <%=data.doctor_Fname%>
                                                                                </p>
                                                                                <p class="card-subtitle pt-2">
                                                                                    <%=data.specialization%>
                                                                                </p>
                                                                            </div>
                                                                            <div class="col pt-5">
                                                                                <p class="card-subtitle" style="font-weight: 600">Appointment Date</p>
                                                                                <p class="card-subtitle pt-2" style="color: #388440; font-weight: bold;">
                                                                                    <%=data.date%>
                                                                                        <%=data.start%> -
                                                                                            <%=data.start%>
                                                                                </p>
                                                                            </div>
                                                                            <div class="row pt-5 justify-content-center m-auto">
                                                                                <button type="button " class="btn btn-success btn me-3 " style="width: 120px; background-color: #FF0000; border-color: #FF0000; border-radius: 10px;">Cancel</button>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <%}%>
                                                                <%})%>
                                                </section>

                                            </div>


                                            <div class="flex-container">
                                                <section id="cancelled">
                                                    <div class="container row m-auto pt-3 ">
                                                        <label class="tagtitle text-start" style="font-size: 25px; color: #e70b0b ">
                                                        Cancelled
                                                        (<%=cancelledCounter%>) <!--counter-->
                                                    </label>
                                                    </div>
                                                    <%queriedAppointments.forEach(data=>{%>
                                                        <%if(data.status =="CANCELLED"){%>
                                                            <div class="row container m-auto p-3">
                                                                <div class=" card pt-2 pb-2" style=" width: 800;height: 150px;">
                                                                    <div class="card-body container-fluid">

                                                                        <div class="card-title" style="font-size:25px ;font-weight: 800;">
                                                                            <%=data.patient_first_name%>
                                                                                <%=data.patient_last_name%>
                                                                        </div>
                                                                        <p class="card-subtitle" style="font-weight: 600">Appointment Date</p>
                                                                        <p class="card-subtitle pt-2" style="color: #388440; font-weight: bold;">
                                                                            <%=data.date%>
                                                                                <%=data.start%>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <%}%>
                                                                <%})%>

                                                </section>
                                                <section id="completed">
                                                    <div class="container row m-auto pt-3">
                                                        <label class="tagtitle text-start" style="font-size: 25px; color: #388440 ">
                                                      Completed
                                                      (<%=completedCounter%>) <!--counter-->
                                                  </label>
                                                    </div>
                                                    <%queriedAppointments.forEach(data=>{%>
                                                        <%if(data.status =="COMPLETED"){%>
                                                            <div class="row container m-auto p-3">
                                                                <div class=" card pt-2 pb-2 mb-1" style=" width: 800;height: 150px;">
                                                                    <div class="card-body container-fluid">

                                                                        <div class="card-title" style="font-size:25px ;font-weight: 800;">
                                                                            <%=data.patient_first_name%>
                                                                                <%=data.patient_last_name%>
                                                                        </div>
                                                                        <p class="card-subtitle" style="font-weight: 600">Appointment Date</p>
                                                                        <p class="card-subtitle pt-2" style="color: #388440; font-weight: bold;">
                                                                            <%=data.date%>
                                                                                <%=data.start%>
                                                                        </p>

                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <%}})%>

                                                </section>
                                            </div>
                                            <div class="row pt-5 justify-content-lg-center m-auto">
                                                <button type="button " class="btn btn-success btn me-3 m-2" style="width: 120px; background-color: #609ad7; border-color: #609ad7; border-radius: 10px;" onclick="history.back()">Go Back</button>
                                            </div>